@import "variables";
.article_heading {
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 31px;
}

.blog_section_text {
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 50px;
}

.blog_section_text:last-of-type {
  color: $second-text-color;
}

.blog_section_article {
  & .social_media_tabs {
    padding-bottom: 105px;
  }

  & .social_media_icons_lists {
    padding-top: 0;
  }
}

.social_media_icons_lists {
  @include flex-row-alignement;
  justify-content: unset;
}

.social_meadia_icon {
  margin-right: 16px;
}

.social_meadia_link {
  & svg {
    fill: $default-text-color;
  }

  & svg:hover {
    fill: $header-background;
  }
}

.social_media_icons_lists {
  @include flex-row-alignement;
  justify-content: unset;
}

.social_meadia_icon {
  margin-right: 16px;
}

.social_meadia_link {
  & svg {
    fill: $default-text-color;
  }

  & svg:hover { 
    fill: $header-background;
  }
  
}

// Change the color of the instagram when it is hovered over
.social_meadia_icon:last-of-type svg:hover {
  fill: #f56040;
}

@media (min-width: $desktop-breakpoint) {
  .blog_section {
    max-width: 570px;
    // Decrease the big space above the contact section
    margin-bottom: -80px;
  }

  .blog_section_article {
    & .article_heading {
      font-size: 52px;
      line-height: 64px;
    }

    & .social_media_tabs {
      padding-bottom: 0;
    }
  }
}
