@import "font_faces";
@import "variables";

.contact_section {
  background-color: $contact-section-bg;
  padding-top: 63px;
  padding-bottom: 54px;
}

.contact_section_container {
  max-width: $container-mobile-max-width;
}

.contact_section_heading {
  font-family: "dm sans";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.contact_section_sub-heading {
  font-size: 40px;
  line-height: 48px;
  margin-top: 19px;
  margin-bottom: 44px;
}

.email_adress_label {
  font-weight: bold;
  text-transform: uppercase;
}

.email_adress_input {
  border: 2px rgba(128, 128, 128, 0.39);
  border-radius: 2px;
  min-width: 75%;
  margin-top: 12px;
  padding: 13px;
}

.email_adress_input:focus {
  outline-color: $light-blue-color;
}

.submit_button {
  background-color: $light-blue-color;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: $white-color;
  margin-top: 16px;
  padding: 13px;
  padding-left: 45px;
  padding-right: 45px;
}

@media (min-width: $desktop-breakpoint) {
  .contact_section_container {
    max-width: $desktop-breakpoint;
    @include flex-row-alignement;
    flex-wrap: wrap;
  }

  .contact_section_header {
    flex-basis: 50%;
  }

  .contact_section_sub-heading {
    max-width: 450px;
    font-size: 52px;
    line-height: 64px;
  }

  .contact_form {
    @include flex-row-alignement;
    flex-basis: 50%;
    margin-top: 60px;
  }

  .email_adress_input {
    min-width: 346px;
  }

  .submit_button {
    margin-top: 39px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
