@import "variables";
 
body {
  @include font-stuck(body);
  margin: 0;
  background-color: $page-background; 
}

.page_contents_container {
  margin-left: 16px;
  margin-right: 16px;
}


 
h2,
h3 {
  font-family: "dm sans display";
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

p {
  @include reset(ul);
}

ul {
  @include reset(ul);
}
 
a {
  text-decoration: none;
}

label {
  display: block;
}

fieldset {
  border: unset;
  padding: 0;
  margin: 0;
}

@media(min-width: $desktop-breakpoint) {
  .page_contents_container {
    max-width: $desktop-breakpoint;
    margin-left: auto;
    margin-right: auto;
  }

}