@import "variables";

footer {
  background-color: $header-text-color;
  color: $second-text-color;
  padding-top: 75px;
}

.footer_article {
  padding-bottom: 79px;
}

.footer_article_heading {
  color: $default-text-color;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.social_media_icons_lists {
  padding-top: 30px;
}
 
.page_navigation_tabs_list:nth-of-type(1) {
  padding-bottom: 30px;
}

.page_navigation_tabs_list:not(:first-of-type) {
  margin-bottom: 16px;
}

.social_media_icons_lists {
  @include flex-row-alignement;
  justify-content: unset;
}

.social_meadia_icon {
  margin-right: 16px;
}

.social_meadia_link {
  & svg {
    fill: $default-text-color;
  }

  & svg:hover {
    fill: $header-background;
  }
}

// Change the color of the instagram when it is hovered over
.social_meadia_icon:last-of-type svg:hover {
  fill: #F56040;
}

footer .page_links {
  color: $second-text-color;
  mix-blend-mode: normal;
}

footer .page_links:hover {
  color: $default-text-color;
  mix-blend-mode: unset;
}

.user_samples_list {
  @include flex-row-alignement;
  justify-content: unset;
  margin-bottom: 24px;
}

.user_samples_list img {
  border-radius: 4px;
  max-width: 70px;
  margin-right: 32px;
}

.image_description {
  margin: 0;
}

.user_samples_list { 
  & span,
  & time {
  display: block;
  }

  & time {
    font-weight: bold;
    font-size: 12px;
    color: $default-text-color;
  }
}

@media(min-width: $desktop-breakpoint) {
  footer {
    padding-top: 0;
  }
  
  .footer_container {
    @include flex-row-alignement;
    flex-wrap: wrap;
  }
  
  .footer_article{ 
    padding-top: 70px;
  }
  
  .footer_article:nth-of-type(1) {
    flex-basis: 40%;
    max-width: 270px;
  }

  .footer_article:nth-of-type(2) {
    flex-basis: 25%; 
  }
  
  .footer_article:nth-of-type(3) {
    flex-basis: 35%;
  }

  .footer_article:nth-of-type(4) {
    flex-basis: 100%;
  }

  .social_media_icons_lists {
    padding-top: 32px;
  }

  .social_media_icons_lists {
    padding-top: 16px;
  }

  .user_samples_list { 
    margin-bottom: 39px;
  }

  .page_information {
    @include flex-row-alignement;
  }

}