@import "variables";

main {
  background-color:  $main-bg-color;
}

.homepage { 
  & .page_links { 
    @include font-stuck;
    color: $dark-black; 

    & svg {
      fill: $black-color;  
    }
  }

  .page_links:hover {
    color: $light-blue-color;
    text-transform: uppercase;
    font-weight: bold;

    & svg:hover{
      fill: $light-blue-color; 
    }
  }

  & span {
    padding-left: 8px;
  }
}

.homepage_heading {
  font-size: 52px;
  line-height: 64px;
  padding-bottom: 50px;
 
}

.homepage_text {
  max-width: 586px;
  font-size: 18px;
  line-height: 32px;
}

 
@media(min-width: $desktop-breakpoint) { 
  .homepage_heading {
    max-width: 586px;
    font-size: 72px;
    line-height: 80px;
    padding-bottom: 16px;
  }
}