@import "variables";

main {
  background-color:  $main-bg-color;
}

.homepage {
  padding-bottom: 74px;
  
  & .page_links { 
  font-size: 16px;
  line-height: 24px;
  color: $second-text-color; 
    & svg {
      fill: $default-text-color; 
    }
  }

  .page_links:hover {
    color: $header-background;
    
    & svg:hover{
      fill: $header-background; 
    }
  }

  & span {
    padding-left: 8px;
  }
}

.homepage_heading {
  font-size: 52px;
  line-height: 64px;
  padding-bottom: 50px;
 
}

.homepage_text {
  max-width: 586px;
  font-size: 18px;
  line-height: 32px;
}

 
@media(min-width: $desktop-breakpoint) { 
  .homepage_heading {
    max-width: 586px;
    font-size: 72px;
    line-height: 80px;
    padding-bottom: 16px;
  }
}