@import "variables";

.page_header {
  background-color: $light-blue-color;
}

.page_header_heading {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: $white-color;
  margin-top: 16px;
}

.page_header_container {
  @include flex-row-alignement;
}

// Wrap some selectors in the ".page_header" because those classes are still used in some different sections.
.page_header {
  & .page_navigation {
    padding: 1rem;
    padding-top: 8px;
    background-color: #f8f8f8;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 125%;
    bottom: 0;
    min-width: 100%;
    max-height: 108px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }

  & .page_navigation_tabs_list {
    max-width: 100px;
    border: rgba(0, 0, 0, 0.3) solid 1px;
    margin-bottom: 2px;
  }

  & .page_navigation_tabs_list:hover {
    border: $light-blue-color solid 2px;
  }

  & .page_links {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $black-color;
    text-transform: uppercase;
    opacity: 0.5;
  }
}

.page_links:hover {
  color: $light-blue-color;
  opacity: 1;
}

details.show_menu {
  & summary::-webkit-details-marker {
    visibility: hidden;
  }

  & summary {
    padding: 32px;
    padding-bottom: 16px;
    padding-right: 0;
    background-image: url(../icons/icon_menu.svg);
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: 24px;
    outline: none;
    cursor: pointer;
  }
  // Specific rules for firefox
  @-moz-document url-prefix() {
    & summary {
      // Display block is used to get rid of the mark in firefox
      display: block;
      padding: 53px;
      padding-bottom: 16px;
      padding-right: 0;
    }
  }

  & p,
  & span {
    display: none;
  }
}

// This is a prevention if the Javascript is not suppported
.show_menu[open] ~ .page_navigation {
  top: 10%; // After the header's background
  left: 0%;
}

.page_navigation.close {
  opacity: 0;
}

@media (min-width: $desktop-breakpoint) {
  .page_header_heading {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;
  }

  details.show_menu {
    display: none;
  }

  .page_header {
    & .page_navigation {
      min-width: unset;
      height: unset;
      background-color: unset;
      position: unset;
      box-shadow: unset;
      transform: translate(0%, 0%);
      margin-top: 27px;
      padding-top: 0;
    }

    & .page_navigation_tabs {
      min-width: 324px;
      @include flex-row-alignement;
    }

    & .page_navigation_tabs_list {
      max-width: unset;
      border: unset;
    }

    & .page_links {
      text-transform: unset;
      color: $white-color;
      opacity: 1;
    }

    & .page_links:hover {
      color: #f56040;
      text-transform: uppercase;
    }
  }

  // Remove the opacity in case it will still be applied to the desctop after closing the menu in the mobile
  .page_navigation.close {
    opacity: 1;
  }
}
