@import "variables";
.portfolio_section {
  padding-top: 74px;
}

.all_images_container {
  position: relative;
}

.all_photographs {
  @include flex-row-alignement;
}

.photograph_sample {
  max-width: 100%;
 }

.photograph_sample,
.image_slider {
  border-radius: 4px;
}

.images_container {
  max-width: 100%;
}

.image_slides {
  display: none; 
}

.image_number {
  display: block;
  font-size: 12px;
  color: $white-color;
  position: absolute;
  top: -6px;
}

.arrow_slides_container {
  width: 100%;
  @include flex-row-alignement;
  position: absolute;
  top: 45%;
}

.arrow_prev,
.arrow_next {
  font-size: 16px;
  color: $white-color;
  cursor: pointer;
  padding: 16px;
}

.arrow_prev {
  padding-left: 0;
}

.arrow_next {
  padding-right: 0;
}

.image_slider {
  max-width: 137px;
  max-height: 82px;
  opacity: 0.5;
  cursor: pointer;
}

.clear {
  opacity: 1;
}

.image_slider_list:not(:last-of-type) .image_slider {
  margin-right: 11px;
}

.photographs_info {
  padding-top: 92px;
  padding-bottom: 75px;
}

.photographs_info_details {
  @include flex-row-alignement;
  flex-wrap: wrap;
}

.photograph_info_detail_list {
  flex-basis: 50%;
  padding-bottom: 40px;
}

.photograph_info_detail_list:nth-of-type(3) {
  max-width: 100px;
}

.photograph_info_detail_list:nth-of-type(3),
.photograph_info_detail_list:nth-of-type(4) {
  padding-bottom: 0;
}

.photograph_info_detail_list {
  & span:nth-of-type(2),
  & time {
    display: block;
    font-weight: bold;
  }
}

@media (min-width: $desktop-breakpoint) {
  .image_number { 
    font-size: 16px;
    top: 0;
  }

  .arrow_prev,
  .arrow_next {
    font-size: 24px;
  }

  .photographs_info {
    max-width: 443px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .photograph_info_detail_list:nth-of-type(3) {
    max-width: unset;
  }

  .images_container:last-of-type {
    padding-bottom: 87px;
  }

  .image_slider {
    max-width: 100%;
  }
}
