:root {
  --header-background-color: #434CCC;
  --main-background-color: rgba(67, 76, 204, 0.05);
  --text-primary-color: #000000;
  --text-color-white: #FFFFFF;
  --yellow-background: #FFDD78;
  --text-secondary-color: rgba(0, 0, 0, 0.5);
  --beauty-section-background:  rgba(67, 76, 204, 0.05); }

body {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  background-color: var(--main-background-color); }

.page_contents_container {
  margin-left: 16px;
  margin-right: 16px; }

h1,
h2,
h3 {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  margin: 0; }

p {
  list-style: none;
  margin: 0;
  padding: 0; }
  p > li {
    margin: 0;
    padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul > li {
    margin: 0;
    padding: 0; }

a {
  text-decoration: none; }

label {
  display: block; }

fieldset {
  border-color: transparent;
  padding: 0; }

@media (min-width: 1114px) {
  .page_contents_container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto; } }

:root {
  --header-background-color: #434CCC;
  --main-background-color: rgba(67, 76, 204, 0.05);
  --text-primary-color: #000000;
  --text-color-white: #FFFFFF;
  --yellow-background: #FFDD78;
  --text-secondary-color: rgba(0, 0, 0, 0.5);
  --beauty-section-background:  rgba(67, 76, 204, 0.05); }

.page_header {
  background-color: var(--header-background-color); }

.page_header_heading {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-top: 16px; }

.page_header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.page_header .page_navigation {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 25%;
  height: max-content;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translate(-200%, -150%); }

.page_header .page_links {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary-color);
  text-transform: uppercase;
  opacity: 0.5; }

.page_header .page_links:hover {
  color: var(--header-background-color);
  opacity: 1; }

details.show_menu summary::-webkit-details-marker {
  display: none; }

details.show_menu summary {
  padding: 32px;
  padding-right: 16px;
  background-image: url(../icons/icon_menu.svg);
  background-repeat: no-repeat;
  background-position-y: 24px;
  background-position-x: 24px;
  outline: none; }

details.show_menu p,
details.show_menu span {
  display: none; }

.show_menu[open] ~ .page_navigation {
  transform: translate(75%, 0%); }

@media (min-width: 1114px) {
  .page_header_heading {
    font-size: 40px;
    line-height: 48px; }
  details.show_menu {
    display: none; }
  .page_header .page_navigation {
    width: unset;
    background-color: unset;
    position: unset;
    box-shadow: unset;
    transform: translate(0%, 0%);
    padding-top: 40px; }
  .page_header .page_navigation_tabs {
    min-width: 324px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-between; }
  .page_header .page_links {
    text-transform: unset;
    color: var(--text-color-white);
    opacity: 1; } }

:root {
  --header-background-color: #434CCC;
  --main-background-color: rgba(67, 76, 204, 0.05);
  --text-primary-color: #000000;
  --text-color-white: #FFFFFF;
  --yellow-background: #FFDD78;
  --text-secondary-color: rgba(0, 0, 0, 0.5);
  --beauty-section-background:  rgba(67, 76, 204, 0.05); }

.main_header .page_links {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-secondary-color);
  padding-left: 64px; }

.beauty_section {
  background-color: var(--beauty-section-background); }

.beauty_section_heading {
  font-size: 52px;
  line-height: 64px;
  padding-bottom: 65px; }

.beauty_section_header ~ .beauty_section_text {
  padding-bottom: 0;
  color: var(--text-secondary-color); }

.beauty_section_text {
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 50px; }

.beauty_section_text:last-of-type {
  color: var(--text-secondary-color); }

.all_photographs {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.photograph_sample {
  max-width: 100%;
  padding-top: 74px; }

.photograph_sample,
.image_slider {
  border-radius: 4px; }

.images_container {
  max-width: 100%; }

.image_slider {
  max-width: 137px;
  max-height: 85px; }

.image_slider_list:not(:last-of-type) .image_slider {
  margin-right: 11px; }

.photographs_info {
  padding-top: 92px;
  padding-bottom: 75px; }

.photographs_info_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.photograph_info_detail_list {
  flex-basis: 50%;
  padding-bottom: 40px; }

.photograph_info_detail_list:nth-of-type(3) {
  max-width: 100px; }

.photograph_info_detail_list:nth-of-type(3),
.photograph_info_detail_list:nth-of-type(4) {
  padding-bottom: 0; }

.photograph_info_detail_list span:nth-of-type(2),
.photograph_info_detail_list time {
  display: block;
  font-weight: bold; }

.article_heading {
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 31px; }

.beauty_section_article .social_media_tabs {
  padding-bottom: 105px; }

.beauty_section_article .social_media_icons_lists {
  padding-top: 0; }

@media (min-width: 1114px) {
  .beauty_section_heading {
    max-width: 457px;
    font-size: 72px;
    line-height: 80px; }
  .beauty_section_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .beauty_section_article:first-of-type {
    grid-row: 1;
    grid-column: 1/3; }
  .beauty_section_article.photographs_info {
    grid-row: 2;
    grid-column: 1/2;
    padding-top: 0; }
  .beauty_section_article.exploration {
    grid-row: 2;
    grid-column: 2/3; }
  .photograph_info_detail_list:nth-of-type(3) {
    max-width: unset; }
  .images_container {
    padding-bottom: 87px; }
  .image_slider {
    max-width: 100%;
    max-height: 85px;
    opacity: 0.5; } }

:root {
  --header-background-color: #434CCC;
  --main-background-color: rgba(67, 76, 204, 0.05);
  --text-primary-color: #000000;
  --text-color-white: #FFFFFF;
  --yellow-background: #FFDD78;
  --text-secondary-color: rgba(0, 0, 0, 0.5);
  --beauty-section-background:  rgba(67, 76, 204, 0.05); }

.contact_section {
  background-color: var(--yellow-background);
  padding-top: 63px;
  padding-bottom: 54px; }

.contact_section_container {
  max-width: 670px; }

.contact_section_heading {
  font-family: DM Sans;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase; }

.contact_section_sub-heading {
  font-size: 40px;
  line-height: 48px;
  margin-top: 19px;
  margin-bottom: 44px; }

.email_adress_label {
  font-weight: bold;
  text-transform: uppercase; }

.email_adress_input {
  border: 2px rgba(128, 128, 128, 0.39);
  min-width: 75%;
  margin-top: 12px;
  padding: 13px; }

.email_adress_input:focus {
  outline-color: var(--header-background-color); }

.submit_button {
  background-color: var(--header-background-color);
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: var(--text-color-white);
  margin-top: 16px;
  padding: 13px;
  padding-left: 45px;
  padding-right: 45px; }

@media (min-width: 1114px) {
  .contact_section_container {
    max-width: 1114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .contact_section_header {
    flex-basis: 50%; }
  .contact_section_sub-heading {
    max-width: 450px;
    font-size: 52px;
    line-height: 64px; }
  .contact_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 50%;
    margin-top: 70px; }
  .email_adress_input {
    min-width: 346px; }
  .submit_button {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px; } }

:root {
  --header-background-color: #434CCC;
  --main-background-color: rgba(67, 76, 204, 0.05);
  --text-primary-color: #000000;
  --text-color-white: #FFFFFF;
  --yellow-background: #FFDD78;
  --text-secondary-color: rgba(0, 0, 0, 0.5);
  --beauty-section-background:  rgba(67, 76, 204, 0.05); }

footer {
  background-color: var(--text-color-white);
  color: var(--text-secondary-color);
  padding-top: 75px; }

.footer_article {
  padding-bottom: 79px; }

.footer_article_heading {
  color: var(--text-primary-color);
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  padding-bottom: 24px; }

.social_media_icons_lists {
  padding-top: 30px; }

.page_navigation_tabs_list:nth-of-type(1) {
  padding-bottom: 30px; }

.page_navigation_tabs_list:not(:first-of-type) {
  margin-bottom: 16px; }

.social_media_icons_lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: unset; }

.social_meadia_icon {
  margin-right: 16px; }

footer .page_links {
  color: var(--text-secondary-color);
  mix-blend-mode: normal; }

footer .page_links:hover {
  color: var(--text-primary-color);
  mix-blend-mode: unset; }

.user_samples_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: unset;
  margin-bottom: 24px; }

.user_samples_list img {
  border-radius: 4px;
  max-width: 70px;
  margin-right: 32px; }

.image_description {
  margin: 0; }

.user_samples_list span,
.user_samples_list time {
  display: block; }

.user_samples_list time {
  font-weight: bold;
  font-size: 12px;
  color: var(--text-primary-color); }

@media (min-width: 1114px) {
  footer {
    padding-top: 0; }
  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .footer_article {
    padding-top: 70px; }
  .footer_article:nth-of-type(1) {
    flex-basis: 40%;
    max-width: 270px; }
  .footer_article:nth-of-type(2) {
    flex-basis: 25%; }
  .footer_article:nth-of-type(3) {
    flex-basis: 35%; }
  .footer_article:nth-of-type(4) {
    flex-basis: 100%; }
  .social_media_icons_lists {
    padding-top: 32px; }
  .social_media_icons_lists {
    padding-top: 16px; }
  .user_samples_list {
    margin-bottom: 39px; }
  .page_information {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }
