:root {
  --header-background-color: #434CCC;
  --main-background-color: rgba(67, 76, 204, 0.05);
  --text-primary-color: #000000;
  --text-color-white: #FFFFFF; }

body {
  font-family: DM Sans;
  margin: 0;
  background-color: var(--main-background-color);
  font-size: 16px;
  line-height: 24px; }

.page_contents_container {
  margin-left: 16px;
  margin-right: 16px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul > li {
    margin: 0;
    padding: 0; }

a {
  text-decoration: none; }

label {
  display: block; }

fieldset {
  border-color: transparent; }

@media (min-width: 1114px) {
  .page_container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto; } }

:root {
  --header-background-color: #434CCC;
  --main-background-color: rgba(67, 76, 204, 0.05);
  --text-primary-color: #000000;
  --text-color-white: #FFFFFF; }

.page_header {
  background-color: var(--header-background-color); }

.page_header_heading {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: var(--text-color-white); }

.page_header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.page_navigation {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 25%;
  height: max-content;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translate(-200%, -150%); }

details.show_menu summary::-webkit-details-marker {
  display: none; }

details.show_menu summary {
  padding: 32px;
  padding-right: 16px;
  background-image: url(../images/icon_menu.svg);
  background-repeat: no-repeat;
  background-position-y: 24px;
  background-position-x: 24px;
  outline: none; }

details.show_menu p,
details.show_menu span {
  display: none; }

.show_menu[open] ~ .page_navigation {
  transform: translate(75%, 0%); }

.page_links {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary-color);
  text-transform: uppercase;
  opacity: 0.5; }

.page_links:hover {
  color: var(--header-background-color);
  opacity: 1; }

@media (min-width: 1114px) {
  .page_header_heading {
    font-size: 40px;
    line-height: 48px; }
  details.show_menu {
    display: none; }
  .page_navigation {
    width: unset;
    background-color: unset;
    position: unset;
    box-shadow: unset;
    transform: translate(0%, 0%);
    padding-top: 40px; }
  .page_navigation_tabs {
    min-width: 324px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .page_links {
    text-transform: unset;
    color: var(--text-color-white);
    opacity: 1; } }
